.hidden {
    display: none !important;
}

#create-game {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

/*  
    Game container is 90% of width, i.e. 90vw
    Each tile is 20% of that, i.e. 18vw, both width and height
    Each row is 18vw high and 90vw wide
*/
#game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-header-container {
    width: 100%;
}

#game-header {
    text-align: center;
    margin-bottom: 20px;
}

.game-row {
    display: flex;
    width: 90vw;
    height: 18vw;
}

.game-board {
    height: 90vw;
    width: 90vw;
}

.game-tile {
    width: 18vw;
    height: 18vw;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    container-type: inline-size;
    font-size: x-small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.game-tile>p {
    word-break: break-word;
}

.tile-marked,
#free-tile {
    background-color: aquamarine;
}

footer {
    width: 100%;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.05);
    margin-top: 40px;
    padding: 10px 0;
}
